$padding: 0 10px;
$font: "Georgia", serif;

.pokemon-card {
  font-family: $font;
  font-size: 80%;
  padding-top: 2px;
  color: black;
  margin: 0 5px 50px;
  width: 215px;
  display: flex;
  flex-direction: column;
}

.pokemon-card__image {
  background: #f2f2f2;
  border-radius: 5px;
}

.pokemon-card__number {
  padding: $padding;
  color: #919191;
}

.pokemon-card__name {
  padding: $padding;
  color: #313131;
  font-size: 145%;
  margin: 0.5em 0 5px;
}

.pokemon-card__types {
  display: flex;
}

.pokemon-card__type {
  margin: 0 10px;
  width: 38.4375%;
  height: 18px;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  font-size: 11px;
  text-align: center;
  background: #87d197;
}
