<div class="body">
  <div class="navbar">
    <nav class="container">
      <a>
        <img class="logo-navbar" src="../../../assets/images/logo-navbar.png" alt="">
      </a>
      <div class="menu">
        <ul class="grid">
          <li><a class="title" [routerLink]="['/']">Início</a></li>
          <li><a class="title active">Pokédex</a></li>
        </ul>
      </div>
      <div class="toggle icon-menu">
        <nb-icon icon="star"></nb-icon>
      </div>
      <div class="toggle icon-close">
        <nb-icon icon="star"></nb-icon>
      </div>
    </nav>
  </div>

  <div class="pokemons-list"></div>
</div>
