<div class="container">
  <div class="title">
    <strong>Encontre</strong> <br />
    todos os seus <br />
    pokemons <strong>favoritos</strong>
  </div>
  <div class="text">
    Você pode saber o tipo do pokemon, suas fraquezas, desvantagens e
    habilidades.
  </div>

  <div class="imgs">
    <img src="../../assets/img/image 1.png" class="img-pokemon" alt="" />
    <img src="../../assets/img/Pokeball2.png" alt="" class="img-pokeball" />
    <img src="../../assets/img/Vector.png" class="img-vector" alt="" />
  </div>
  <button>Ver pokemons</button>
  <footer>
    <div>Conheça nossa pagina</div>
    <div>Outros temas</div>
  </footer>
</div>
